
{{ define "main" }}

        <h1>
            <center><u>My Stupid Blog!</u></center>
        </h1>
        <p><small>
                <center>(I have no idea what I'm doing. If this breaks I'm so sorry.)</center>
            </small></p>

        <h2>
            <center><a href="/index.html">Home Sweet Home</a></center>
        </h2>

        <!-- <p>
            <a href="./Newsletter.html">Join my Newsletter</a> to get updated when a new post comes out!
        </p> -->
  <div>
    {{ .Content }}

  <h2>Blog posts by date:</h2>
        <hr />
    {{ $pages := where site.RegularPages "Type" "blog" }}
    {{ $paginator := .Paginate $pages }}

    {{ range $paginator.Pages }}
        <div class="indent">
      <h3><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h3>
            <p class="indent"><strong>Description:</strong> {{ .Page.Description }}</p>
            <p class="indent"><strong>Word Count:</strong> {{ .Page.WordCount }}</p>
        </div>
        <hr />
    {{ end }}

{{ template "_internal/pagination.html" . }}

        <h2>
            <center><a href="/index.html">Home Sweet Home</a><br><small><small>(But at the bottom of the page this
                        time)</small></small></center>
        </h2>
    </div>
  <script src="/Scripts/blog.js" crossorigin="anonymous"></script>
{{ end }}

