<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

  <head>
    {{ partial "header.html" . }}
  </head>

<body>
  {{partial "kofi.html" . }}
  <main class="flex">
  <div class="flexitem">
  <div class="dir">
  {{.Page.Params}}
    <ul>
          <li {{if eq .Page.Params.id "home"}} class="selected" {{end}} ><a href="/"><p><strong>Home</strong></p><img title="Home" src="/Assets/home-alt.svg"> </a></li>
          <li {{if eq .Page.Params.id "projects"}} class="selected" {{end}} ><a href="/projects"><p><strong>Projects</strong></p><img title = "Projects" src="/Assets/favourite-book.svg"></a></li>
          <li {{if eq .Page.Params.id "blog"}} class="selected" {{end}} ><a href="/blog"><p><strong>Blog</strong></p><img title= "Blog" src="/Assets/edit-pencil.svg"></a></li>
          <li {{if eq .Page.Params.id "about"}} class="selected" {{end}} ><a href="/about"><p><strong>About</strong></p><img title= "About" src="/Assets/question-mark.svg"></a></li>
    </ul>
  </div>
  </div>
  
  <div class="flexitem dir invisible" style="order:3">
    <ul>
      <li>Home</li>
      <li>Projects</li>
      <li>Blog</li>
      <li>About</li>
    </ul>
  </div>
      <div class="content">
    {{ block "main" . }}{{ end }}

    {{partial "footer.html" .}}
      </div>
  </main>
</body>
</html>

