
{{ define "main" }}

    <h1>
<center><u>Kai's Stupid Website</u></center>
    </h1>

    <p>Howdy! I'm Kai, and this is my stupid website.</p>

    {{ $posts := where site.RegularPages "Type" "changelog" }}
    {{ range first 1 $posts.ByPublishDate.Reverse}}

<h4 style="margin:0;margin-bottom: 5px;">Most recent update: <a href="{{ .RelPermalink }}">{{time.Format "Jan 02, 2006" .Page.Date }} - {{ .LinkTitle }}</a></h4><p style="margin:0;"><em>(<a href="/changelog">See full changelog</a>)</em></p>

    {{end}}
    <hr>

    <div class="inpage-dir"> 
    <h2>Directory!</h2>
      <ul>
		<li>
          <h3><a href="/about">About!</a></h3> (Some stuff about me and the site!)
        </li>
        <li>
          <h3><a href="/blog">My Blog :P</a></h3> (Where I blog things about games and stuff)
        </li>
        <li>
          <h3><a href="/projects">Projects!</a></h3> (Where you can find what stuff I've done)
        </li>
		<li>
          <h3><a href="/writing">My Writing!</a></h3> (Where I self-publish creative writing works of mine!)
        </li>
		<li>
          <h3><a href="/music">My Music!</a></h3> (Where I host the music I make)
        </li>

        <!-- <li>
          <h3><a href="Pages/.html">My Newsletter</a></h3> (Where you can sign up to get updates twice a year
          when
          I actually post something)
        </li> -->
      </ul>
  <hr>
    </div>
    
<h2><a href="/about">About</a></h2>

    <p>Here's some of my links, some stuff about me, and some stuff about this website if you're curious :P</p>

      <button class="indent" onclick="location.href='/about'">I'm Curious!</button>

<br><br>

<h2><a href="/neighborhood">The Fireye.coffee neighborhood</a></h2>

<p>Check out this site's Webrings, site neighbors and other assorted neat places on the web!</p>
<p>I also run a little webring for game designers! <a href="https://gdt.fireye.coffee/" target="_blank">Check it out</a>!</p>

      <button class="indent" onclick="location.href='/neighborhood'">To the neighborhood!</button>

<br><br>

<h2><a href="/newsletter">Newsletter</a></h2>

    <p>Interested in keeping up to date with what's going on in this corner of the internet? Feel free to join my Newsletter!</p>

      <button class="indent" onclick="location.href='/newsletter'">Sign up!</button>

<br><br>

<h2><a href="/blog">Here's Some blog posts</a></h2>
    <p>Nobody asked, yet here's some of my (maybe) hot takes anyway.</p>

    {{ $posts := where site.RegularPages "Type" "blog" }}
    {{ range first 3 $posts.ByPublishDate.Reverse}}
    <hr />
    <div class="indent">
      <h3><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h3>
  <p class="indent"><strong>Description:</strong> {{ .Page.Description }}</p>
            <p class="indent"><strong>Word Count:</strong> {{ .Page.WordCount }}</p>

    </div>

  {{end}}
    <hr />
<br>
      <button class="indent" onclick="location.href='/blog'">See more posts!</button>

<br><br><br>

<h2><a href="/projects">My Projects!</a></h2>

<p>Here are some of my most recent projects!</p>
{{ $posts := where site.RegularPages "Type" "projects" }}
    {{ range first 3 $posts.ByPublishDate.Reverse}}
    <hr />
    <div class="indent">
      <h3><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h3>
  <p class="indent"><strong>Description:</strong> {{ .Page.Description }}</p>

    </div>

{{end}}

<hr>
<p>See more projects!</p>
<ul class="spaced-buttons" style="list-style-type:none;">
      <li><button onclick="location.href='/projects#right-now'">Projects currently in progress</button></li>
      <li><button onclick="location.href='/projects#finished'">Projects that I've finished!</button></li>
      <li><button onclick="location.href='/projects#graveyard'">Projects in the graveyard 💀</button></li>
    </ul>


<br>


<h2><a href="/writing">Here are some Stories!</a></h2>
    <p>I do creative writing! Here are some stories I've made recently!</p>

    {{ $posts := where site.RegularPages "Type" "writing" }}
    {{ range first 3 $posts.ByPublishDate.Reverse}}
    <hr />
    <div class="indent">
      <h3><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h3>
  <p class="indent"><strong>Description:</strong> {{ .Page.Description }}</p>
            <p class="indent"><strong>Word Count:</strong> {{ .Page.WordCount }}</p>

    </div>

  {{end}}
    <hr />
<br>
      <button class="indent" onclick="location.href='/writing'">See more stories!</button>

<br><br><br>

<h2><a href="/music">Here's some Music!</a></h2>

    <p>I also make music! Here are some of my recent tracks:</p>
<hr />

{{$songs := dict }}
	{{ range resources.Match "tracks/*" }}

        {{ $f := split .Name "/"}}
        {{$indexx := cond hugo.IsProduction 1 2}}
        {{$f = index $f $indexx}}
        {{ $n := split $f "."}}
        {{$o := split (index $n 0) ":"}}
        {{ $songs = merge $songs (dict "songs" (dict (index $o 0) (dict "name" (index $o 0) "link" .RelPermalink "time" (index $o 1))))}}
    {{end}}


   {{ range first 3 (sort $songs.songs "time" "desc")}}
	<p>{{.name}} <small>(Released {{.time}})</small> </p>
	<audio controls>
		<source src="{{ .link }}" type="audio/ogg">
	Your browser does not support the audio element.
	</audio>

        <hr />  {{end}}
<br>
      <button class="indent" onclick="location.href='/music'">More music!</button>


<br><br><br>

<h2><u>Stupid quotes? For no good reason? Don't mind if I do.</u></h2>

    <blockquote>
      <p>“Don't spend 5 minutes doing somehing when you could instead spend 5 hours failing to automate it.” <br>
        — Abraham Lincoln</p>
    </blockquote>

    <blockquote>
      <p>“We didn't do it because it was easy; We did it because we
        <u>thought</u> it would be easy.” <br>
        — Dwayne "The Rock" Johnson
      </p>
    </blockquote>

	<blockquote>
      <p>Make bad art!<br>
        — Dennis the menace
      </p>
    </blockquote>
    <br>

    <!-- <p>If you read this, send me a message or something. I won't really
      give you anything, but it'll help break up the monotony of daily life
      which is always a win.
    </p> -->

<h2><a href="/guestbook">Guestbook!</a></h2>
    <p>Thank you for making it this far! Please feel free to sign my guestbook! Fair warning, I will delete crass and hateful comments without remorse <3</p>

    <center><p id="gbload">Loading content...</p></center>

    <div class="gbhide" hidden>
      <div class="gbscroll">
        <center><table class="guestbook"></table></center>
      </div>

      <div class="gbform" hidden>
        <center><p class="gblabel">Name <small><small>(Max 50 chars)</small></small></p></center>
        <center><input class="gbName"></center>
        <center><p class="gblabel">Domain (optional, <abbr title="https://fireye.coffee -> fireye.coffee">no https://)</abbr> <small><small>(Max 50 chars)</small></small></p></center>
        <center><small><p class="gblabel">Where do you hail from, weary traveler?</p></small></center>
        <center><input class="gbDomain"></center>
        <center><p class="gblabel">Message <small><small>(Max 250 chars)</small></small></p></center>
        <center><textarea class="gbMessage"></textarea></center>
        <center><button onclick="guestbookSubmit()">Submit Entry!</button></center>
        <center><p><small>Please don't bobby tables my ass I beg you</small></p></center>
      </div>
      
      <center><button class="gbutton" onclick="guestbookClick()">Leave a message!</button></center>
    </div>

      <button class="indent" onclick="location.href='/guestbook'">Full Guestbook!</button>
<br><br>

  <a hrel="me" href="https://peoplemaking.games/@fireye" hidden></a>
  <script src="/Scripts/script.js?version=3" crossorigin="anonymous"></script>

{{ end }}


