
{{ define "main" }}

    <h1>
<center><u>Kai's Stupid Website</u></center>
    </h1>

    <p>Howdy! I'm Kai, and this is my stupid website.</p>

  <p><small><em>Last updated: {{ time.Now | time.Format "January 02, 2006" }}</em></small></p>

    <hr>

    <div class="inpage-dir"> 
    <h2>Directory!</h2>
      <ul>
        <li>
          <h3><a href="/projects">Projects!</a></h3> (Where you can find what stuff I've done)
        </li>
  <li>
          <h3><a href="/about">About!</a></h3> (Some stuff about me and the site!)
        </li>
        <li>
          <h3><a href="/blog">My Blog :P</a></h3> (Where I blog things about games and stuff)
        </li>
    <li>
          <h3><a href="/writing">My Writing!</a></h3> (Where I self-publish creative writing works of mine!)
        </li>

        <!-- <li>
          <h3><a href="Pages/.html">My Newsletter</a></h3> (Where you can sign up to get updates twice a year
          when
          I actually post something)
        </li> -->
      </ul>
  <hr>
    </div>
    

<h2><a href="/projects">My Projects!</a></h2>

    <p>Check out some of my work!</p>

    <ul class="spaced-buttons" style="list-style-type:none;">
      <li><button onclick="location.href='/projects#right-now'">Projects currently in progress</button></li>
      <li><button onclick="location.href='/projects#finished'">Projects that I've finished!</button></li>
      <li><button onclick="location.href='/projects#graveyard'">Projects in the graveyard 💀</button></li>
    </ul>

<br>

<h2><a href="/about">About</a></h2>

    <p>Here's some of my links, some stuff about me, and some stuff about this website if you're curious :P</p>

      <button class="indent" onclick="location.href='/about'">I'm Curious!</button>

<br><br>
    
<h2><a href="/blog">Here's Some blog posts</a></h2>
    <p>Nobody asked, yet here's some of my (maybe) hot takes anyway.</p>

    {{ $posts := where site.RegularPages "Type" "blog" }}
    {{ range first 3 $posts.ByPublishDate.Reverse}}
    <hr />
    <div class="indent">
      <h3><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h3>
  <p class="indent"><strong>Description:</strong> {{ .Page.Description }}</p>
            <p class="indent"><strong>Word Count:</strong> {{ .Page.WordCount }}</p>

    </div>

  {{end}}
    <hr />
<br>
      <button class="indent" onclick="location.href='/blog'">See more posts!</button>

<br><br><br>

<h2><a href="/writing">Here are some Stories!</a></h2>
    <p>I do creative writing! Here are some stories I've made recently!</p>

    {{ $posts := where site.RegularPages "Type" "writing" }}
    {{ range first 3 $posts.ByPublishDate.Reverse}}
    <hr />
    <div class="indent">
      <h3><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h3>
  <p class="indent"><strong>Description:</strong> {{ .Page.Description }}</p>
            <p class="indent"><strong>Word Count:</strong> {{ .Page.WordCount }}</p>

    </div>

  {{end}}
    <hr />
<br>
      <button class="indent" onclick="location.href='/writing'">See more stories!</button>

<br><br><br>
<h2><u>Digital Neighbors!</u></h2>
      <p>A list of cool websites that are friends with this one! (What does that mean? Not sure!)</p>

      <ul>
        <li><a href="https://theblipbloop.github.io/" target="_blank">theblipbloop.github.io</a></li>
        <li>That's it for now!</li>
      </ul>

      <p>Let me know if you'd like to become digital neighbors! I'd love to expand the network above as much as I can &lt;3</p>

<h2><u>My favorite web pages!</u></h2>
      <p>Here are some of my favorite webpages (If you own one of these, Please let me know if you'd like to be digital neightbors or for me to take it off the list)

      <ul>
          <li><a href="https://neal.fun" target="_blank">Neal.fun</a></li>
          <li><a href="https://doodleta.co/" target="_blank">doodletea.co</a></li>
          <li>That's it for now!</li>
      </ul>
  <br>

<h2><u>Stupid quotes? For no good reason? Don't mind if I do.</u></h2>

    <blockquote>
      <p>“Don't spend 5 minutes doing somehing when you could instead spend 5 hours failing to automate it.” <br>
        — Abraham Lincoln</p>
    </blockquote>

    <blockquote>
      <p>“We didn't do it because it was easy; We did it because we
        <u>thought</u> it would be easy.” <br>
        — Dwayne "The Rock" Johnson
      </p>
    </blockquote>

    <br>

    <!-- <p>If you read this, send me a message or something. I won't really
      give you anything, but it'll help break up the monotony of daily life
      which is always a win.
    </p> -->

<h2><u>Guestbook!</u></h2>
    <p>Thank you for making it this far! Please feel free to sign my guestbook! Fair warning, I will delete crass and hateful comments without remorse <3</p>

    <center><p class="gbload">Loading content...</p></center>

    <div class="gbhide" hidden>
      <div class="gbscroll">
        <center><table class="guestbook"></table></center>
      </div>

      <div class="gbform" hidden>
        <center><p class="gblabel">Name</p></center>
        <center><input class="gbName"></center>
        <center><p class="gblabel">Message</p></center>
        <center><textarea class="gbMessage"></textarea></center>
        <center><button onclick="guestbookSubmit()">Submit Entry!</button></center>
        <center><p><small>Please don't bobby tables my ass I beg you</small></p></center>
      </div>
      
      <center><button class="gbutton" onclick="guestbookClick()">Leave a message!</button></center>
    </div>

  
  <script src="/Scripts/script.js" crossorigin="anonymous"></script>

{{ end }}


