
.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin:auto;
  gap: 20px;
  margin: 40px 0px;
}

.content {
    max-width: 700px;
    padding: 10px 50px 20px;
    font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #c9d1d9;
    background: #141c28;
    box-shadow:0 0 10px 5px rgba(20, 28, 40, .8);
    border-radius: 5px;

}

body {
    background: #2b333f;
    color: #c9d1d9;
    height: 300%;
}

a:link {
    color: #58a6ff
}


a:visited {
    color: #8e96f0
}


h1,
h2,
h3 {
    line-height: 1.2
}

blockquote {
    border-left: 10px solid #1c2532;
    margin: 1.5em 0px;
    padding: 0.5em 20px;
}

blockquote p {
    display: inline;
}

.indent {
    margin-left: 30px;
}

.under {
    padding-bottom: 5px;
    border-bottom: 3px #c9d1d9 solid;
}

ol li {
    padding-bottom: 30px;
}

.posthead {
    margin-bottom: 10px;
    margin-top: 0px;
}


/*########### NAV #############*/



.dir {
    background: #141c28;
    border-radius: 5px;
    color: #c9d1d9;
}

.dir ul {
  list-style-type:none;
  margin: 10px;
  padding: 0;
}

.inpage-dir {
  display:none; 
}

.invisible {
  visibility:hidden;
}

/*########### NAV #############*/



/*########### ITCH IFRAMES #############*/

@media (max-width: 635px) {

    .itch-iframe {
        display: none;
    }

    .itch-button {
        display: block;
    }
}

@media (min-width: 635px) {

    .itch-iframe {
        display: block;
    }

    .itch-button {
        display: none;
    }
}

/*########### ITCH IFRAMES #############*/



/*########### LINKS #############*/

.links {
    position: fixed;
    bottom: 0;
    right: 0;
}

.link-bg {
    margin: 0px;
    padding: 0px;
}

.link-img {
    margin: 0px;
    padding: 20px 20px 10px 20px;
    width: 80px;
    transition: .2s;
}

.link-img:hover {
    width: 90px;
    filter: brightness(90%);
}

@media (max-width: 900px) {

    .links {
        display: none;
    }
}

@media (min-width: 900px) {

    .links {
        display: block;
    }
}

/*########### LINKS #############*/


/*########### BUTTONS #############*/

button {
    border:solid;
    border-width: 1px;
    border-radius:2px;
    background-color:#8992f8 ;
    color:#0d1117;
    padding:10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration:0.3s;
}

button:hover {
    background-color: #2e3a4b;
    color: #8E96F0;
    padding:10px 20px;
    cursor: pointer;
}


/*########### BUTTONS #############*/


/*########### GUESTBOOK #############*/

.guestbook {
    margin-bottom: 20px;
    border-collapse: separate;
    border-spacing: 50px 0;
} 

.gbutton {
    margin-bottom: 20px;
}

.gblabel {
    display: inline;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.gbscroll {
    overflow-x: auto;
}

.gbform {
    margin-bottom: 20px;
}

.gbform input {
    margin-bottom: 20px;
    width:80%;
}

.gbform textarea {
    margin-bottom: 20px;
    width:80%;
    height:150px;
}

@media (max-width: 635px) {
    .guestbook {
        border-spacing: 20px;
    }
    .dt {
        display: none;
    }

    .gbform textarea {
        width:80%;
    }

}

/*########### GUESTBOOK #############*/


/*########### EASTER EGGS #############*/

#they {
    cursor: help;
}

@keyframes bgScroll {
    0% {
        background-position: 0px 0px
    }

    100% {
        background-position: 0px 600px
    }
}

/*########### EASTER EGGS #############*/
